.Personal_Details {
  height: 550px;
  margin-top: 60px;
  height: 70vh;
}

.Personal_Details .reg_form ul li {
  margin: 20px 0;
  list-style-type: none;
}

.Personal_Details .reg_form label {
  display: inline-block;
  width: 88px;
  text-align: right;
  font-size: 20px;
  padding-right: 3px;
  font-weight: bold;
  color: #4c4c4c;
}

.Personal_Details .reg_form li .inp {
  width: 240px;
  height: 36px;
  margin-left: 90px;
  border: 1px solid #999;
  border-radius:10px;
  position:relative;
  left: 40px;
}

.Personal_Details .reg_form li.inp::placeholder {
  font: 16px/3 sans-serif;
}

#Role_distinguish_para {
  font: 20px sans-serif;
  color: #838177;
  font-weight: bold;
}

.gou {
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
  width: 20px;
  height: 20px;
}

.Personal_Details .reg_form li .success {
  color: green;
}

.li1 {
  padding-top: 20px;
}

.personal-details-form {
  position: relative;
  padding: 1%;
  width: 50%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(#E3FBE9FF 0%, #d3ffdd 50%, #c3ffcc 100%);
  border-radius: 25px;
  left: 25%;
}

.button {
  border-radius: 10px;
  border: 0000;
  height: 10%;
  width: 50%;

  font-size: 15px;
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #b3ffbe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #0b0d0c;
  position: relative;
}

.button:hover {
background-color: #a3ffac;
color: #0b0d0c;
}