
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    background: #333;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
}

.footer {
    position: relative;
    width: 100%;
    background: #E5FFE8;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.menu_1 p{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}




.menu_1 p {
    color: #000000;
    margin: 15px 0 10px 0;
    font-size: 1.2rem;
    font-weight: 600;
}


