.Welcome-header {
    background-color: #e3fbe9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.links-list {
    position: relative;
    margin: 1em;
    overflow: hidden;
    text-align: center;
}
.links-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
}
.links-list a {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 3px solid black;
}

.contact {
    border-right: 3px solid black;
}

a {
    color: inherit;
    text-decoration: inherit;
}
.navbar-line{
    width: 100%;
    color: #00000;
}