.header {
    background-color: #e3fbe9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.links-list {
    position: relative;
    margin: 1em;
    overflow: hidden;
    text-align: center;
}
.links-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
}
.links-list a {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 3px solid black;
}

.contact {
    border-right: 3px solid black;
}

a {
    color: inherit;
    text-decoration: inherit;
}
.navbar-line{
    width: 100%;
    color: #00000;
}

.nav-header {
  --b: 0.1em;   /* the thickness of the line */
  --c: #1095c1; /* the color */

  color: #0000;
  padding-block: var(--b);
  background:
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
.nav-header:hover {
  --_p: 100%;
  --_s: .3s;
}