* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    font-style: normal
}
.li {
    list-style: none
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #666
}


.w {
    width: 1200px;
    margin: 0 auto;

}
header {
    height: 84px;
    border-bottom: 2px solid #4C8339
}

.Personal_Details {
    background-color: #a3ffae;
    height: 550px;
    margin-top: 20px;
    border: 1px solid #dfdfdf;

}
.Personal_Details .reg_hd {
    position: relative;
    height: 41px;
    width: 1198px;
    border-bottom: 1px solid #dfdfdf;
    background-color: #ececec;
}
.Personal_Details .reg_hd h3 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 90px;
    height: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    text-align: center;
    line-height: 20px;
}

.Personal_Details .reg_form {
    width: 600px;
    margin: 50px auto 0;

}
.Personal_Details .reg_form ul li {
    margin: 20px 0;
}

.Personal_Details .reg_form label {
    display: inline-block;
    width: 88px;
    text-align: right;
    font-size: 14px;
    padding-right: 3px;
    color: #4c4c4c;

}
.Personal_Details .reg_form li .inp {
    width: 240px;
    height: 36px;
    margin-left: 90px;
    border: 1px solid #999;
}
.Personal_Details .reg_form li .inp2 {
    width: 240px;
    height: 50px;
    margin-left: 90px;
    border: 1px solid #999;
}

.Personal_Details .reg_form li .error .cha,
.gou {
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    width: 20px;
    height: 20px;
}
.Personal_Details .reg_form li .success {
    color: green;
}

input {
    -webkit-text-fill-color: #999;
    border-radius: 10px;

    text-align: left;
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    border: 0;
    outline: none;
}



.button {
    border:0.5px solid green;
    border-radius: 10px;
    top:40%;
    left:52%;
    width:100px;
    height:35px;
    position: relative;
    z-index: 2;
    background: #D4F0CA;
    cursor: pointer

}
