<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Details</title>
    <link rel="stylesheet" href="PersonalDetails.css">

</head>


<body>
<div class="w">
    <header>
        <div class="pic">



        </div>
    </header>

    <div class="Personal_Details">

        <div class="reg_form">
            <form action="">
                <ul>
                    <h2>Personal Details</h2>
                    <li>
                        <label for = "username">Name：</label>

                        <input type="text" class="inp" name="username"  id="username" placeholder=""/>

                    </li>
                    <li>
                        <label for = "phone_number">Phone&nbsp;&nbsp;number：</label>

                        <input type="text" class="inp" name="username"  id="phone_number" placeholder="+44"/>

                    </li>
                    <li>
                        <label for = "email">Email：</label>

                        <input type="email" class="inp" name="username"  id="email" placeholder=""/>

                    </li>
                    <li>
                        <label for = "password">Password：</label>

                        <input type="password" class="inp"  name="username"  id="password" placeholder=""/>

                    </li>
                    <li>
                        <label for = "location">Location：</label>

                        <input type="text" class="inp"  name="username"  id="location" placeholder=""/>

                    </li>


                    <li>
                        <label for = "description">My&nbsp;&nbsp;Introduction：</label>

                        <input type="text" class="inp"  name="username"  id="description" placeholder="Some words to introduce yourself!">

                    </li>

                </ul>

            </form>


        </div>

        <div>
            <button class="button" type="submit">Save Changes</button>
        </div>

    </div>

</div>

</body>
</html>
