.sidebar {
    height: 400px;
    width: 200px;
    left: 0;
    padding-top: 50px;
    position: absolute;
    background: rgba(21, 102, 29, 0.7);
}

.sidebar-text {
    padding: 5px;
    font-size: 24px;
    color: black;
    display: block;
}

.page-value {
    overflow: auto;
}