Django~=4.1.7
python-dotenv~=0.21.0
djangorestframework~=3.14.0
djangorestframework-simplejwt~=5.2.2
django-cors-headers~=3.14.0
django-phonenumber-field~=7.0.2
phonenumbers~=8.13.7
Pillow~=9.4.0
six
channels~=4.0.0b1
daphne~=4.0.0
django-extensions~=3.2.1
psycopg2~=2.9.5