<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
        .button {
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
      <!-- this code block is used to used to create a url link -->
      <hr>
      <!-- this code bloack is used to loop the data in the database -->
      <button type="button" onclick="window.location.href='../items'">See Items</button>
      <button type="button" onclick="window.location.href='../users'">See Users</button></br></br></br>
      <button type="button" onclick="window.location.href='../items_upload'">Insert Item</button>
      <hr>
    </div>
</body>
</html>