body{
  font-family: inherit;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.7;
  color: inherit;
  overflow-x: scroll;
}

a {
  cursor: pointer;
  transition: all 200ms linear;
}

a:hover {
  text-decoration: none;
}

h4 {
  font-weight: 600;
  font-size: 30px;
  color: #F0FFF2;
}

h6 span{
  text-align: center;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  font-size: 20px;
}

.section{
  width: 100%;
  display: inline-block;
}

.full-height{
  min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 100px;
  height: 16px;
  border-radius: 25px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #15661D;
  opacity: 0.6;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #092B0C;
  background-color: #092B0C;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  text-align: center;
  transition: all 0.5s ease;
}

.checkbox:checked + label:before {
  transform: translateX(80px) rotate(-270deg);
}

.card-3d-wrap {
  position: relative;
  width: 50vh;
  max-width: 100%;
  height: 400px;
  left:25%;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 50px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:relative;    
  left: 50%; 
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}

.card-front, .card-back {
  width: 500px;
  height: 550px;
  background-color: #092B0C;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 25px;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

.form-group{ 
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 5px;
}

.form-style {
  padding: 10px 20px;
  padding-left: 50px;
  height: 48px;
  width: 300px;
  font-weight: 500;
  border-radius: 10px;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  outline: none;
  color: black;
  background-color: #F0FFF2;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.button{  
  border-radius: 25px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0px 30px;
  letter-spacing: 1px;
  display: inline-flex;
  -webkit-align-items: center;
  text-align: center;
  border: none;
  background-color: #ffea75;
  color: #5e2d1d;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}

.button:hover{  
  background-color: #5e2d1d;
  color: #ffea75;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
