.Welcome-body {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    min-width: 1100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    text-align: left;
    color: black;
}

.Welcome-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.Interact-buttons {
    margin-right: auto;
}

.Welcome-display ul{
	width: 100%;
    padding-left: 0;
}
