.my_items-body {
	min-height: 75vh;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: black;
    width: 100%;
    margin-left: 5%;
}

.my_items-body:after {
    content: "";
    display: table;
    clear: both;
}

.my_items_content {
	align-items: center;
	text-align: left;
	color: black;
}

.my_items-content ul li{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(#E3FBE9FF 0%, #d3ffdd 50%, #c3ffcc 100%);
    margin: 0 auto;
    text-align: center;
    font-family: arial;
    float: left;
    width: 35%;
    border-radius: 20px;
	list-style: none;
	margin-left: 12%;
}

.my_items-pic{
    width: 275px;
    height: 275px;
    border-radius: 10px;
}

.no_items_msg{
    margin-left: 13%;
}

.contextContainer {
    z-index: 1;
    width: 100%;
    height: 100%;
}
.rightClick_menu {
    z-index: 12;
    position: fixed;
    background: #ffffff;
    border: 1px solid;
}
.menuElement {
    cursor: pointer;
    padding: 17px 36px;
    borderBottom: 1px solid;
}
.menuElement:hover {
    color: #ffffff;
    background: #000000;
}

.myitems-edit {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.myitems-edit-content {
    background: linear-gradient(#E3FBE9FF 0%, #d3ffdd 50%, #c3ffcc 100%);
    border-radius: 20px;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.my_items-filter {
    width: 5%;
    margin-left: 12%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background: linear-gradient(#E3FBE9FF 0%, #d3ffdd 50%, #c3ffcc 100%);
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.myitems-modal-btns, .myitems-edit-submit {
  background-color: #b3ffbe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 5px;
}

.myitems-modal-btns:hover, .myitems-edit-submit:hover {
    background-color: #a3ffae;
    color: #0b0d0c;
}