.my_items-body {
    min-height: 75vh;
    align-items: center;
    text-align: left;
    color: black;
}

.my_items-content ul li{
	width: 30%;
	float: left;
	list-style: none;
	background-color: #FFFFFF;
	margin-top: 1%;
	margin-left: 13%;
	height: 350px;
	-webkit-box-shadow: 0 0 5px 3px #ccc;
}

 .my_items-content .my_item_info h3{
	font-size: 25px;
	color: black;
	margin-top: 30px;
	margin-left: 55%;
}

.my_items-content .my_item_info p{
    font-size: 18px;
	line-height: 20px;
	margin-top: 20px;
	margin-left: 55%;
}

.my_item_info{
	margin-left: 30px;
	margin-right: 30px;
	align: right;
	height: 50%;
}

.my_items-pic{
    width: 50%;
    height: 100%;
    float: left;
}

.no_items_msg{
    margin-left: 13%;
}

.my_item_btn{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px 50px;
    border-radius: 5px;
    float: right;
    margin-right: 3%;
    margin-top: 10%;
}