.my_sales-body {
    min-height: 75vh;
}

.my_sales_content {
    align-items: center;
    text-align: left;
    color: black;
}

.my_sales-content ul li {
    width: 35%;
    float: left;
    list-style: none;
    background-color: #FFFFFF;
    margin-top: 3%;
    margin-left: 13%;
    height: 350px;
    -webkit-box-shadow: 0 0 5px 3px #ccc;
}

.my_sales-content .my_sales_info h3 {
    font-size: 25px;
    color: black;
    margin-top: 30px;
    margin-left: 0%;
}

.my_sales-content .my_sales_info p {
    font-size: 18px;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 0%;
}

.my_sales_info {
    margin-left: 10px;
    margin-right: 30px;
    align: left;
    height: 50%;
}

.my_sales-pic {
    width: 40%;
    height: 100%;
    float: left;
}

.no_sales_msg {
    margin-left: 13%;
}

.my_sales_btn {
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px 50px;
    border-radius: 5px;
    float: right;
    margin-right: 3%;
    margin-top: 10%;
}

.my_sales-filter {
    width: 5%;
    margin-left: 12%;
}