.listings-page {
  background-color: #e3fbe9;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  min-width: 1100px;
}
.listings-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    text-align: left;
    color: black;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,th {
    border-width: 0 0 1px 0;
    padding: 0;
}

.listings-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid ;
}

.listings-table caption {
    color: #000;
    font: italic 85%/1 arial,sans-serif;
    padding: 1em 0;
    text-align: center;
}

.listings-table td,.listings-table th {
    border-left: 1px solid;
    border-width: 0 0 0 1px;
    border-bottom: 1px solid;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}

.listings-table td {
    background-color: transparent;
}

